 

  .container{
    width: 700px;
    height: 300px;
    /* border: 2px solid red; */
    margin:12rem 0;
  } 
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .a {
  color: #3498db;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}.h1 {
  font-size: 5em;
  color: #e74c3c;
  margin-bottom: 10px;
}

.para {
  font-size: 1.5em;
  margin-top: 0;
}
