.wishlistContainer{
    margin-top:6rem;
  }
 .wishlistHeading{
    text-align: center;
 }
 .wishlistCardContainer{
    /* border:2px solid red; */
    position: absolute;
    left:40%; 
    margin:2rem 0;
}
#wishlist{
 }
 @media  (max-width:440px) {
   .wishlistHeading{
      margin-left:40px;
   }
 }
 @media  (max-width:316px) {
    .wishlistCardContainer{
      left:20%;
    }
    .wishlistHeading{
      margin-left: 20px;
    }
     
 }